.secret-guest-text {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
}

.secret-guest-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    background-color: #391A2D;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.secret-guest-image {
    flex: 1;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start; /* Выравниваем изображение слева */
}

.secret-guest-img {
    max-width: 100%;
    border-radius: 15px;
}

.secret-guest-content {
    flex: 1;
    font-size: 1.4em;
    line-height: 1.5;
    text-align: left;
    margin-left: 10px;
}

.secret-guest-content p {
    margin-bottom: 35px; /* Отступ между абзацами текста */
  }

  .shaverno-color {
    color: #EB4200;
    font-weight: bold;
}

.colored-underline {
    position: relative;
    display: inline-block; /* Важно для работы псевдоэлемента */
  }

  .colored-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; /* Регулирует положение линии */
    width: 100%;
    height: 2px; /* Толщина линии */
    background-color: #EB4200; /* Цвет линии */
  }
  /*под контейнером*/
  .secret-guest-contact-container {       
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  
  .secret-guest-contact-text {
    font-size: 2.1em;
    text-align: center;
    margin-bottom: -50px;
    line-height: 1.5;
  }
  .secret-guest-contact-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .secret-guest-contact-block {
    background-color: #EB4200;
    color: white;
    font-size: 1.6em;
    padding: 15px 30px;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  .secret-guest-contact-block a {
  color: inherit; /* Наследует цвет текста от родительского элемента */
  text-decoration: none; /* Убирает подчеркивание */
}

 .secret-guest-contact-block a:hover {
  text-decoration: underline; /* Убирает подчеркивание */
}
  .black-text {
    color: black;
    font-weight: bold;
  }
  @media (max-width: 768px) {
  .secret-guest-text {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 10px;
  }

  .secret-guest-container {
    flex-direction: column;
    padding: 15px;
    align-items: stretch;
  }

  .secret-guest-image {
    padding-right: 0;
    justify-content: center;
    margin-bottom: 15px;
  }

  .secret-guest-img {
    max-width: 100%;
    width: 100%; /* Гарантируем, что изображение занимает всю ширину */
    height: auto;
  }

  .secret-guest-content {
    font-size: 1.2em;
    line-height: 1.4;
    text-align: left;
    margin-left: 0;
  }

  .secret-guest-content p {
    margin-bottom: 20px;
  }
  /*текст под*/
  .secret-guest-contact-container {
    width: 90%;
    margin-top: -10px;
    margin-bottom: 50px;
  }

  .secret-guest-contact-text {
    font-size: 1.5em;
    line-height: 1.3;
    
  }

  .secret-guest-contact-blocks {
    margin-bottom: 20px;
  }

  .secret-guest-contact-block {
    font-size: 1.3em;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .secret-guest-text {
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
  }

  .secret-guest-container {
    flex-direction: row;
    padding: 20px;
    align-items: center;
  }

  .secret-guest-image {
    padding-right: 20px;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .secret-guest-img {
    max-width: 100%; /* Ограничиваем ширину картинки */
    
  }

  .secret-guest-content {
    font-size: 1.3em;
    line-height: 1.5;
    text-align: left;
    margin-left: 15px;
  }

  .secret-guest-content p {
    margin-bottom: 25px;
  }
  /*текст под*/
  .secret-guest-contact-container {
    max-width: 90%; /* Задаём ширину контейнера */
    margin-top: -10px; /* Увеличиваем верхний отступ */
    margin-bottom: 40px; /* Уменьшаем нижний отступ */
  }

  .secret-guest-contact-text {
    font-size: 1.6em; /* Увеличиваем размер шрифта */
    line-height: 1.4; /* Увеличиваем высоту строки */
  }

  .secret-guest-contact-blocks {
    margin-bottom: 30px; /* Уменьшаем нижний отступ */
  }

  .secret-guest-contact-block {
    font-size: 1.4em; /* Увеличиваем размер шрифта */
    padding: 12px 25px; /* Увеличиваем внутренние отступы */
    border-radius: 12px; /* Увеличиваем радиус скругления */
    box-shadow: 2.5px 2.5px 4px rgba(0, 0, 0, 0.4); /* Увеличиваем тень */
  }
}